

<%- layout('layouts/notaMain.ejs') %>

    <div class="container">

        <div class="container-sm" id="formSignin">

            <form action="/saveUpdate" method="post">
                <div class="mb-3" id="iUpDate">
                    <label for="id">id</label>
                    <input type="text" name="id" id="id" value="<%= nota.id %>" readonly>
                </div>
                <div class="mb-3">
                    <label class="form-label">Titulo</label>
                    <input type="text" class="form-control" name="title" value="<%= nota.title %>">
                    

                </div>
                <div class="mb-3">
                    <label class="form-label">Descripcion</label>
                    <input type="text" class="form-control" name="description" value="<%= nota.description %>">
                    
                </div>
                <div class="submit">
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </div>
            </form>
        </div>
    </div>