<%- layout('layouts/main.ejs') %>
<div class="container">

    <div class="container-sm" id="presentation">
        <h1>Autentificacion</h1>
        <p>Sistema de autentificacion con:</p>
        <h2>BackEnd</h2>
        <p>Node.js</p>
        <p>Express</p>
        <p>Passport</p>
        <p>Mongodb</p>
        <h2>FrondEnd</h2>
        <p>Bootstrap</p>
        <p>Jquery</p>
        <p>Ejs</p>
    </div>
</div>