<%- layout('layouts/main.ejs') %>

<div class="container">
    <button type="button" class="btn btn-danger" id="cerrarSession"><a href="/logout">Cerrar Session</a></button>
</div>
<section>
    <h1>Profile</h1>
</section>