<%- layout('layouts/main.ejs') %>

<div class="container-sm">
    <div class="container" id="formSingup" >

        <h1>Registrate</h1>
        <form action="/signup" method="post">
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Email address</label>
                <input type="email" class="form-control" aria-describedby="emailHelp" name="email">
                <div id="emailHelp" class="form-text">Ingresa tu correo</div>
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Password</label>
                <input type="password" name="password" class="form-control" id="exampleInputPassword1">
            </div>
            <div class="submit">

                <button type="submit" class="btn btn-primary">Signup</button>
            </div>
        </form>
    </div>
</div>