<%- layout('layouts/main.ejs') %>
<!-- <form action="/signin" method="POST">
    <input type="email" name="email" placeholder="ingrese email">
    <input type="password" name="password" placeholder="inserta password">
    <button type="submit">
        Sigin
    </button>
</form>


 -->
 <div class="container">

   <div class="container-sm" id="formSignin">
     
     <h1 class="titulo">Inicia sesion</h1>
     <form action="/signin" method="post">
       <div class="mb-3">
         <label for="exampleInputEmail1" class="form-label">Email address</label>
         <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
         <div id="emailHelp" class="form-text">Ingresa tu correo</div>
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input type="password" name="password" class="form-control" id="exampleInputPassword1">
        </div>
        <div class="submit">
          <button type="submit" class="btn btn-primary">Signin</button>
        </div>
      </form>
    </div>
  </div>